
@model  PagedList.IPagedList<MemesProject.Models.MemeModel>
@using MemesProject.Models
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home Page";
}
<br />
@if (!Model.Any())
{
    <p>We don't have any memes yet.</p>
}
else
{
    foreach (var meme in Model)
    {
        // <---- Div do wyśrodkowania
        <div class="col-lg-2"></div>
        //Div do wyśrodkowania --->


        <div class="jumbotron col-lg-9">
            <h2>@Html.ActionLink(meme.Title, "Details", "Meme", new { id = meme.Id }, null)</h2>
            
            <img src="@meme.ImgSource" alt="img src" class="responsive">
            <br />
            <div>
                <div class="col-lg-2 container">
                    <div class="col-lg-6">@meme.Plus</div>
                    <div class="col-lg-6">@Html.ActionLink("Like", "Like", new { id = meme.Id })</div>
                </div>
                
            </div>
            <div>
                <div class="col-lg-3">
                    Created by: <strong>@meme.CreatedBy</strong>
                </div>
                <div class="col-lg-5">
                    Added date:<strong> @meme.AddedDate</strong>
</div>
            </div>

        </div>
    }
}
<br />
@*<---- Div do wyśrodkowania*@
<div class="col-lg-2"></div>
@*Div do wyśrodkowania --->*@
<div class="col-lg-10">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

<style>
    .responsive {
        width: 100%;
        height: auto;
    }
</style>

