@model IEnumerable<MemesProject.Models.MemeModel>

@{
    ViewBag.Title = "Home Page";
}
@if (!Model.Any())
{
    <p>We don't have any cars yet.</p>
}
else
{
    foreach (var meme in Model)
    {
        <div class="jumbotron">
            <h2>@meme.Title</h2>
            <img src="@meme.ImgSource" alt="img src" class="responsive">
            <br/>
            <div>
                <div class="col-lg-2">
                    Plusik @meme.Plus
                </div>
                <div class="col-lg-2">
                    Minusik @meme.Minus
                </div>
            </div>
            <div>
                <div class="col-lg-3">
                    Created by: @meme.CreatedBy
                </div>
                <div class="col-lg-3">
                    Added date: @meme.AddedDate
                </div>
            </div>
        </div>
    }
}

<style>
    .responsive {
        width: 100%;
        height: auto;
    }
</style>

