@model MemesProject.Models.MemeModel
<br/>
<br/>


@*<---- Div do wyśrodkowania*@
<div class="col-lg-3"></div>
@*//Div do wyśrodkowania --->*@


<div class="jumbotron col-lg-7">
    <h2>@Html.ActionLink(Model.Title, "Details", "Meme", new {id = Model.Id}, null)</h2>
    <hr/>
    <img src="@Model.ImgSource" alt="img src" class="responsive">
    <br/>
    <hr/>

    @* Comment and Like *@
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            @* Like container to registered User *@
            <div class="col-lg-2 container">
                <i class="fa fa-thumbs-up"></i> @Model.Likes @Html.ActionLink("Like", "Like", "Home", new {id = Model.Id}, null)
            </div>
        }
        else
        {
            @* Like container to unregistered User *@
            <div class="col-lg-2 container">
                <i class="fa fa-thumbs-up"></i> @Model.Likes @Html.ActionLink("Like", "Login", "Account", new {id = Model.Id}, null)
            </div>
        }

    </div>

    @* Created by and Date*@
    <div>
        <div class="col-lg-3">
            <i class="fa fa-lg fa-cloud-upload"> </i> by: <strong>@Model.CreatedBy</strong>
        </div>
        <div class="col-lg-6">

            <i class="fa fa-calendar"></i> Added date:<strong> @Html.ValueFor(m => Model.AddedDate, "{0:dd/MM/yyyy}")</strong>
        </div>
    </div>

</div>

<style>
    .responsive {
        width: 100%;
        height: auto;
    }
</style>