@model MemesProject.Models.MemeModel


@*<---- Div do wyśrodkowania*@
<div class="col-lg-2"></div>
@*//Div do wyśrodkowania --->*@


<div class="jumbotron col-lg-9">
    <h2>@Model.Title</h2>
    <img src="@Model.ImgSource" alt="img src" class="responsive">
    <br/>
    <div>
        <div class="col-lg-2">
            Plusik @Model.Plus
        </div>
        <div class="col-lg-2">
            Minusik @Model.Minus
        </div>
    </div>
    <div>
        <div class="col-lg-3">
            Created by:  @Model.CreatedBy
        </div>
        <div class="col-lg-3">
            Added date:  @Model.AddedDate
        </div>
    </div>
</div>

<style>
    .responsive {
        width: 100%;
        height: auto;
    }
</style>