@model IEnumerable<MemesProject.Models.MemeModel>
@{
    ViewBag.Title = "MyMemes";
}
@if (!Model.Any())
{
    <p>We don't have any memes yet.</p>
}
else
{
    foreach (var meme in Model)
    {
        // <---- Div do wyśrodkowania
        <div class="col-lg-2"></div>
        //Div do wyśrodkowania --->


        <div class="jumbotron col-lg-9 d-flex p-2 ">
            <h2>@meme.Title</h2>
            <img src="@meme.ImgSource" alt="img src" class="responsive">
            <br />
            <div>
                <div class="col-lg-2">
                    Plusik @meme.Plus
                </div>
                <div class="col-lg-2">
                    Minusik @meme.Minus
                </div>
            </div>
            <div>
                <div class="col-lg-3">
                    Created by: @meme.CreatedBy
                </div>
                <div class="col-lg-3">
                    Added date: @meme.AddedDate
                </div>
            </div>
        </div>
    }
}

<style>
    .responsive {
        width: 100%;
        height: auto;
    }
</style>

