@using MemesProject.Models
@using PagedList.Mvc
@model PagedList.IPagedList<MemesProject.Models.MemeModel>
@{
    ViewBag.Title = "MyMemes";
}
<br />
<div class="container">
    <br />
    <br />
    <div class="col-lg-3">
    </div>
    <div class="col-lg-4">
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
    <div class="col-lg-5" id="obokStrony">

    </div>
</div>
@if (!Model.Any())
{
    <p>We don't have any memes yet.</p>
}
else
{
    foreach (var meme in Model)
    {
        // <---- Div do wyśrodkowania
        <div class="col-lg-3"></div>
        //Div do wyśrodkowania --->

        @* meme view *@
        <div class="jumbotron col-lg-7">
            <h2>@Html.ActionLink(meme.Title, "Details", "Meme", new { id = meme.Id }, null)</h2>
            <hr />
            <img src="@meme.ImgSource" alt="img src" class="responsive">
            <br />
            <hr />

            @* Comment and Like *@
            <div>
                @* If wyswietlajacy panel pod memem zalezny od przydzielonej roli aktualnie zalogowanego usera. *@

            </div>

            @* Created by and Date value*@
            <div>
                <div class="col-lg-3">
                    <i class="fa fa-lg fa-cloud-upload"> </i>  by: <strong>@meme.CreatedBy</strong>
                </div>
                <div class="col-lg-5">

                    <i class="fa fa-calendar"></i>Added date:<strong> @Html.ValueFor(m => meme.AddedDate, "{0:dd/MM/yyyy}")</strong>
                </div>
                @if (User.Identity.Name == meme.CreatedBy)
                {
                    <div class="col-lg-2">
                        <button data-id="@meme.Id" class="btn btn-danger delete">Delete</button>
                    </div>
                }

            </div>

        </div>
    }
}
@*<---- Div do wyśrodkowania*@
<div class="col-lg-3"></div>
@*Div do wyśrodkowania --->*@
<div class="col-lg-7">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ShowMyMemes",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
@section scripts
{
    <script>
        $(function () {
            $('.delete').click(function () {
                $.ajax({
                    method: "DELETE",
                    url: "/api/Memes/" + $(this).data("id")
                })
                    .done(function (response) {
                        window.location.reload();
                    })
                    .fail(function (response) {
                        alert("Error");
                    });
            });
        })
    </script>
}

<style>
    .responsive {
        width: 100%;
        height: auto;
    }
</style>


